@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
*{
    font-family: 'Poppins';
    text-align: center;
}
header{
    background:#2B2B2B;

}

.web{
    font-size: 2em;
}

.profile{
    border-radius: 50%;
}